/**
 * Float Layout Activity
 **/

 * {
  box-sizing: border-box;
  text-align: center;
}

body {
}

/* 
1. Start by coloring all the boxes so you can see where all the divs are
2. Make text white, then rearrange the 3 sections occupying 1/3 of page each
3. Use the CSS property "float" to line them next to each other. Float takes an element from where it normally falls in the layout and moves it to the left or right most edge of it's container and allows al the following elements to flow around it  i.e. text flowing around a picture
4. Always clear floats, as a float applied affects all elements after it and only needs to be cleared once. you could use clear: left (or right), but use clear: both in the next element
5. Whenever you  use floats, it does cause elements to go outside thier regular containers, so use overflow: auto in that next element to stop this
6. Resize the containers. To apply this styling to all the containers without typing it into each, just put it once in "sections"
 */
header {
  background-color: #ccc;
  padding: 30px;
  margin-bottom: 20px;
  color: #333;
}

section {
  background-color: #eee;
  padding: 30px;
}

#left {
  background-color: #666;
  color: white;
  width: 33%;
  float: left;
}

#middle {
  background-color: #888;
  color: white;
  width: 33%;
  float: left;
}

#right {
  background-color: #666;
  color: white;
  width: 33%;
  float: left;
}

#full {
  clear: both;
  background-color: #eee;
  overflow: auto;
  padding: 30px;
}

#division {
  background-color: #6ea3da;
  padding: 30px;
}

aside {
  background-color: #fff;
  width: 350px;
  height: 350px;
}

footer {
  background-color: #ccc;
  padding: 30px;
}
